html,
body,
.app {
  height: 100vh;
  background: #120e28;
  padding: 1rem;
}
body {
  overflow: hidden !important;
}
ul {
  list-style: none;
}
.emoji-mart {
  position: absolute !important;
  bottom: 5rem !important;
}
.activeMsg {
  border: 1px solid #591bdf;
  border-radius: 5px;
  padding: 5px;
}
.message_form {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px !important;
}
.msg_input {
  display: flex;
  flex-grow: 2;
}
.ui.red.label {
  margin-right: 5px !important;
}

/* SidePanel.js */
.sideBar {
  border-right: 1px solid #292354;
}
.starredBox {
  color: white;
}
.menu {
  color: white;
  padding: 10px;
  margin: 0;
}
.menu li {
  margin: 1rem 0;
  cursor: pointer;
}
.ui.grid {
  background: #120e28 !important;
  padding: 1rem;
}
.ui.segment {
  background: rgb(38 38 38);
}
.ui.styled.accordion {
  margin-top: 10px !important;
  border-radius: 8px !important;
  color: white !important;
  background-color: #292354 !important;
}
.ui.attached.header {
  border-radius: 8px !important;
  background-color: #292354 !important;
  border: 1px solid #292354 !important;
}
.active.title,
.accordion > .title,
.content > .header,
.content > .description,
.attached.header {
  color: white !important;
}
.accordion > .list {
  margin-left: 2rem;
}

/* Messages.js */
.messages {
  height: 72vh;
  overflow-y: scroll;
  margin: 0 !important;
  max-width: 100% !important;
}
.noMessages {
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  padding: 2rem;
  letter-spacing: 3px;
}
.boxcolor {
  background-color: #292354 !important;
}

/* MessageForm.js */
.message__form {
  left: 0;
  right: 1em;
  z-index: 200;
}

.emoijpicker {
  position: absolute;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
  width: 200px;
}
.img_prev {
  max-width: 25rem !important;
  margin-left: auto;
  margin-right: auto;
}
/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* ColorPanel.js */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/* Typing.js */
.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
  color: white;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Skeleton.js */
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}
